
/* Login react component style sheet */

.Login {
  text-align: center;
  margin: 0 auto;
  opacity: 0;
}

#load-btns {
  display: inline-block;
  margin: 0 auto;
}

#load-btns > Button {
  margin-left: 1em;
  margin-right: 1em;
}
